---
import Kihon, { type Meta } from '@/katachi/kihon.astro'
import Yohaku from '@/katachi/yohaku.astro'

const metadata: Meta = {
  title: '何もない',
  description: 'ここには何もない',
}
---

<Kihon metadata={metadata}>
  <Yohaku>
    <h1 class="mb-2 text-[1.3rem] text-[var(--mozi)]">何もない</h1>
    <h2 class="mb-2 text-[1rem]">ここには何もない</h2>
  </Yohaku>
</Kihon>
