---
import Kihon, { type Meta } from '@/katachi/kihon.astro'
import Yohaku from '@/katachi/yohaku.astro'

const metadata: Meta = {
  title: '何もない',
  description: 'ここには何もない',
}
---

<Kihon metadata={metadata}>
  <Yohaku>
    <h1 class="text-[var(--sho)]">何もない</h1>
  </Yohaku>
</Kihon>
