---
import Kihon, { type Meta } from '@/katachi/kihon.astro'
import Yohaku from '@/katachi/yohaku.astro'

const metadata: Meta = {
  title: 'kyohenoki',
  description: '入口、私について、記録帳、これから',
}
---

<Kihon metadata={metadata}>
  <Yohaku>
    <div
      class="mb-5 mt-2 flex aspect-[3/2] w-full flex-col items-center justify-center bg-[var(--be)] text-[var(--bemo)]"
    >
      <h3>何かを置きたいスペース</h3>
      <h3>写真、絵、いいのを撮れたら、描けたら、置きたい</h3>
    </div>
    <h2 class="mb-3 text-[var(--sho)]">こんにちは、kyohenokiです</h2>
    <div class="mb-1.5 flex gap-2">
      <a href="/me" class="link">私について</a>
      <p>私について</p>
    </div>
    <div class="mb-1.5 flex gap-2">
      <a href="/kiroku" class="link">記録帳</a>
      <p>記録帳</p>
    </div>
    <div class="mb-1.5 flex gap-2">
      <a href="/mada" class="link">これから</a>
      <p>これから</p>
    </div>
  </Yohaku>
</Kihon>
