---
import Kihon, { type Meta } from '@/katachi/kihon.astro'
import Yohaku from '@/katachi/yohaku.astro'

const metadata: Meta = {
  title: '私について',
  description: '部屋を作りたかった',
}
---

<Kihon metadata={metadata}>
  <Yohaku>
    <h1 class="mb-2 text-[1.3rem] text-[var(--mozi)]">私について</h1>
    <h2 class="mb-2 text-[1rem]">ここには部屋を作りたいと思っている</h2>
    <h2 class="mb-2 text-[1rem]">
      全てのページに別々のAstroファイルを置いてるからレイアウトは自由に変えられる
    </h2>
    <h2 class="text-[1rem]">
      でも、レイアウトは全てのページで合わせたほうがなんかいい感じになるんだよね
    </h2>
  </Yohaku>
</Kihon>
