@import 'tailwindcss';
@plugin '@tailwindcss/typography';

:root {
  --haikei: #fafaf9;
  --mozi: #1c1e28;
  --sho: #66697a;
  --shf: #454753;
  --usu: #e1dbd5;
  --ao: #223fd2;
  --ho: #2280d2;
  --be: #c2b5a8;
  --bemo: #63594f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --haikei: #111217;
    --mozi: #fafaf9;
    --sho: #a5a9ba;
    --shf: #bfc2d1;
    --usu: #383634;
    --ao: #81aff4;
    --ho: #2280d2;
    --be: #403c39;
    --bemo: #918b87;
  }

  .shiki,
  .shiki span,
  .astro-code,
  .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/InterVariable.woff2');
  font-feature-settings: 'calt', 'cv10', 'cv08', 'cv05';
}

@font-face {
  font-family: 'Geist Mono';
  src: url('/fonts/GeistMono.woff2');
}

body {
  background-color: var(--haikei);
  color: var(--mozi);
  font-family: 'Inter', 'Hiragino Sans', 'Noto Sans JP', sans-serif;
}

::selection {
  background-color: var(--mozi);
  color: var(--haikei);
}

code {
  font-family: 'Geist Mono', monospace;
}

.link {
  @apply text-[var(--ao)];
}

.linkb {
  @apply hover:text-[var(--sho)];
}

.moziro {
  @apply prose-p:text-[var(--sho)];
}

.kankaku {
  @apply prose-p:mb-3 prose-pre:mt-0 prose-p:mt-0 prose-pre:mb-3;
}

.prose code::before,
.prose code::after {
  content: none !important;
}

.ugo {
  @apply prose-pre:outline-[1.5px] prose-pre:outline-[var(--usu)];
}

.co {
  @apply prose-code:text-[var(--sho)] prose-code:bg-[var(--usu)] prose-code:rounded-md prose-code:py-0.5 prose-code:px-1 prose-code:font-medium;
}

pre code {
  background-color: transparent !important;
  font-weight: normal !important;
  padding: 0px !important;
}

.futo {
  @apply prose-strong:text-[var(--shf)];
}

.prose a {
  @apply text-[var(--ao)] no-underline hover:text-[var(--ho)];
}

.hey {
  @apply prose-headings:mb-3 prose-headings:mt-3 prose-headings:text-[var(--mozi)] prose-headings:font-medium prose-h1:text-[1.55rem] prose-h2:text-[1.475rem] prose-h3:text-[1.35rem];
}

.heytwo {
  @apply prose-h3:mb-2 prose-h3:mt-1 prose-h2:mb-2 prose-h2:mt-2 prose-h4:text-[1.275rem] prose-h4:mb-2 prose-h4:mt-2;
}

.bo {
  @apply prose-hr:my-4 prose-hr:border-[var(--usu)] prose-img:mt-4 prose-img:mb-6;
}
